.home-wrapper {
  background-image: url("../../../assets/home/background.png");
  background-size: cover;
  height: 100%;
  position: relative;
  text-align: center;
}

.title-wrapper{
  padding: 20px;
}