@import "../../../styles/variables";

.login-wrapper {
  background-image: url("../../../assets/home/background.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-form-wrapper {
    width: 500px;
    height: 500px;

    .btn-login {
      display: block;
      background-color: $main_color;
      border: none;
      font-size: 1em;
      font-weight: 300;

      padding: 6px 15px;

      &:hover {
        background-color: $main_color_hover;
        transition: all ease 0.5s;
      }
    }

    .form-control {
      color: $main_color;
    }

    .form-control:focus {
      border-color: $main_color;
      box-shadow: 0 0 0.25rem rgba(253, 13, 13, 0.274);
    }

    .form-check-input:checked {
      border-color: $main_color;
      background-color: $main_color;
    }
  }
}
